// variables

$primary-black: rgb(28, 28, 28);
$primary-white: rgb(252,247,239);
$highlight-color: rgb(212, 172, 100);

$cursive-text: 'Dancing Script', cursive;
$paragraph-text: "Roboto", sans-serif;

// mixins

@mixin font-size-value($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

// base size

html {
    font-size: 62.5%;
}

// wrappers
.wrapper--max {
    max-width: 1900px;
    margin: 0 auto;
}

.wrapper--inner {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper--footer-nav {
    max-width: 1200px;
    margin: 0 auto; 
}

h1, ul {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border-radius: 10px;
}

