.first-page-header--background {
    min-height: 100vh;
    background-image: url(../../public/styles/images/main--backgroundphoto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
}

.fa-twitter {
    margin-top: 15px;
}

.header--login ul {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.header--login li {
    margin: 10px 10px;
}

.first-page-header--center-wording {
    text-align: center;
    margin-top: 45vh;
    transform: translateY(-50%);
}

.first-page-header--bottom-a {
    display: flex;
    justify-content: flex-end;
}
