.first-page-header--background {
    min-height: 100vh;
    background-image: url(../../public/styles/images/main--backgroundphoto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1px;
}

.tweet {
    @include font-size-value(18);
}

.fa-twitter {
    margin-top: 4vh;
    color: $primary-black;
    transition: 0.3s;
    &:hover {
        color: $highlight-color;
    }    
}

.first-page-header--center-wording {
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
}

h1 {
    color: $primary-black;
    font-family: $cursive-text;
    @include font-size-value(150);
    margin: 0;
}

// spacing for bottom anchor tag

.fixing-footer  {
    height: calc(100vh - 40px);
}

.first-page-header--bottom-a {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    a   {
    color: $primary-black;
    font-family: $paragraph-text;
    @include font-size-value(13);
    font-weight: 400;
    transition: 0.5s;
    &:hover {
        font-style: italic;
        }
    }
}

.fa-chevron-down{
    transition: 0.3s;
    &:hover {
    color: $highlight-color;
    }
}

// login/sign up forms

.header--login--spaceForForm {
    min-height: 200px;
}

.header--login ul {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.header--login li {
    margin: 10px 10px;
    @include font-size-value(18);
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.6s;
    padding: 10px;
    &:hover {
        border: 1px solid $highlight-color;
        background: rgba($primary-white, 0.6);
        border-radius: 10px;
    }
    a {
        color: $primary-black;
        font-family: $paragraph-text;
        font-weight: 400;
    }
}

.userForm {
    font-family: $paragraph-text;
    font-weight: 400;
    @include font-size-value(18);
    color: $primary-black;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    input, button {
    border: 1px solid $highlight-color;
    }
    input {
        height: 30px;
        width: 200px;
        margin: 10px auto;
        text-align: center;
        background: $primary-white;
    }
    button {
        transition: 0.3s;
        margin-top: 5px;
        &:hover {
            background: rgba($highlight-color, 0.6);
        }
    }
}

.signUpForm--button {
    display: block;
    margin: 20px auto;
    font-family: $cursive-text;
    @include font-size-value(20);
}

input[placeholder] {
    @include font-size-value(13.5);  
}
